.custom-container {
  width: 80%;
  margin: auto;
}
.pointer {
  cursor: pointer;
}

/* custombutton */
.custom-button {
  color: white;
  background-color: #1c1c1c;
  border: 0px;
  letter-spacing: -1px;
  font-weight: bold;
}
.custom-button:hover {
  background-color: #ff5d5d;
}
/* .custom-button */

.custom-tinput {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
}
.custom-tlabel {
  color: #5f545f;
}
.font-small {
  font-size: small !important;
}
.font-xsmall {
  font-size: x-small !important;
}
.font-little-small {
  font-size: 0.85em !important;
}
.font-title{
  font-size: 0.95em !important;
}
.custom-tinput:focus {
  border-radius: 0;
  border: 1px solid #cccccc;
  outline: none;
}

.custom-orange-link{
  color: #5f545f;
  transition: 0.13s color ease-in;
}
.custom-orange-link:hover
{
  color: orangered;
}
.c-gray{
  color: #919191;
}
.c-black{
  color: #1c1c1c !important;
}

.item-color {
  border-radius: 50%;
  border: 1px solid rgb(161, 161, 161);
  padding: 13px;
}

.context-menu {cursor: context-menu !important;}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 33px;
  left: 0;
  background-color: #ffffff;
  min-width: 100vw;
  width:100vw;
  border-top: 1px solid #f0f0f0;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation-duration: 0.2s;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown:hover  ~ .dropdown-content {
  display: flex;
  opacity: 1;
}
.dropdown-content:hover{
  display: flex;
}

